.projects {
  width: 65%;
}

.pro-container {
  background: rgba(138, 134, 134, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(138, 134, 134, 0.6);
  margin: 20px 30px 20px 30px;
  padding: 12px;
}

.pro-container:hover {
  filter: grayscale(80%);
}

.proyects-container {
  width: 330px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 12px;
}

.project-name {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.tech-icons {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.tech-icons > img {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.proj-links {
  display: flex;
  justify-content: center;
}

.proj-links > a {
  margin: 8px;
  padding: 10px 22px 10px 22px;
  border-radius: 8px;
}

@media (min-width: 1200px) and (max-width: 1281px) {
  .projects {
    width: 80%;
  }
}

/* Estilos para tablets */
@media (min-width: 700px) and (max-width: 1199px) {
  .projects {
    width: 95%;
  }
  .pro-container {
    width: 300px;
  }

  .proyects-container {
    width: auto;
  }
}

/* Estilos para celulares */
@media (max-width: 767px) {
}
