.nav-container {
  background-color: rgba(32, 32, 35, 0.5);
  margin-top: 2rem;
}

.active-bg {
  background-color: white;
}

.link {
  transition: opacity 0.3s ease-in-out;
}

.link:hover {
  opacity: 0.5;
}
